@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}
html {
    height: 100%;
  }

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color:#000000;
    background-color: #ffffff;
}

.button{
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #83B3D3;
    display: block;
    border-radius: 4px;
    width: 160px;
}
.button-link {
    color: #ffffff;
    background-color: #756257;
    border-radius: 4px;
    padding-top: 9px;
    padding-bottom: 10px;
}
.button-pressed {
    background-color: #7DB54F;
}
.button-favorite {
  width: 140px;
}
.button-about {
  width: 130px;
}

/*header index*/
.navigation{
    display: flex;
    width: 1060px;
    margin: 0 auto;
}
.navigation-list{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 450px;
    display: flex;
    flex-wrap:wrap;
}
.navigation-user{
    max-width: 130px;
    margin-left: auto;
    margin-right: 20px;
}
.navigation-link {
    display:block;
    padding:20px 17px;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    color: #000000;
}
.navigation-user .navigation-link {
  min-height: 18px;
  min-height: 18px;

}
.header-logo-link{
    width: 139px;
    margin-right: 30px;
}


/*main index*/
.main-index{
  background-image: url(../images/Sedona-background.jpg);
  background-color: #ffffff;
  color:#000000;
  background-size: 100%;
  background-repeat: no-repeat;
}
.main-container{
  flex-grow: 1;
}
.page-container {
  width: 1200px;
  margin: 0 auto;
  }

.main-index-logo{
  display: block;
  margin: 0 auto;
  margin-top: 51px;
  margin-bottom: 82px;
}

/*article*/
.advantages {
  color:#000000;
  background-color: #ffffff;
  padding-top: 63px;

}
.title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin:0;

}
.article-title {
  margin-bottom: 25px;
}
.subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin:0;
}
.advantages .subtitle {
  margin-bottom: 86px;
}
.advantages-container{
  display: flex;
  width: 1200px;
}
.advantages-list{
  list-style: none;
  margin:0;
  padding:0;
  display: flex;
  width: 1200px;
}
.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}
.advantages-image{
  display: block;
}
.advantages-description {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin: 0;

}
.advantages-number {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 30px;
}
.advantages-card {
    width:400px;
    height: 384px;
    text-align: center;
    background-color:#83B3D3;
    padding-top: 97px; /*нужно разобраться почему паддинг так сработал*/
}
.advantages-1,
.advantages-2 {
    color:#ffffff;
}
.advantages-list li:nth-of-type(odd) div{
  background: rgba(131, 179, 211, 0.12);
}
.advantages-list-1 li:nth-of-type(even) div{
  background: #FFFFFF;
}
.advantages-list-2 li:nth-of-type(even) div{
  background: rgba(131, 179, 211, 0.2);
}

/*section hotel-search*/
.hotel-search {
    text-align: center;
    padding-top:91px ;
    padding-bottom: 70px;
}
.hotel-search-title {
  margin-bottom:29px ;
}
.hotel-search .subtitle{
  margin-bottom: 56px;
}
.search-button-link{
    font-size: 20px;
    line-height: 36px;
    width: 575px;
    margin:0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

/*section submit*/
.submit{
    background-size: 100% auto;
    background-repeat: no-repeat;
    text-align: center;
    margin: 0 auto;
    padding-top: 94px;
    padding-bottom: 93px ;
}
.submit-index{
    background-image: url(../images/Submit-background.jpg);
    color:#ffffff;
    background-color: #83B3D3;
}
.submit-inner{
    color:#000000;
    background-color: #ffffff;
}
.submit-button {
    font-size: 20px;
    line-height: 26px;
    width: 200px;
}

.submit-title {
    margin-bottom: 29px;
}
.submit-subtitle {
    margin-bottom: 46px;
}
.submit-form-container{
  width: 800px;
  margin: 0 auto;
}

.submit-form {
  display: flex;
}

/*footer*/
.page-footer {
  padding-top: 40px;
  padding-bottom: 40px;
}
.page-footer-container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
  }
.footer-contacts {
    width: 720px;
    margin: 0 auto;
    text-align: center;
}
.footer-contacts-address-phone{
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    font-style: normal;
    color: #000000;
    text-decoration: none;
}
.footer-social{
    width: 150px;
    margin-left: 72px;
}
.footer-social-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin:0;
    padding:0;
}
.footer-social-item {
  width: 25px;
  height: 25px;
  margin-right: 10px; /*проблема со взятием размеров иконок для соц сетей*/
}
.footer-social-item:nth-child(3n) {
  margin-right: 0;
}
.footer-developer{
  width: 115px;
  margin-right: 72px;
}
.footer-developer-logo {
    display: block;
}


/*main-inner*/

.inner-header {
    background-image: url(../images/Hotels-background.jpg);
    background-color: #83B3D3;
    color:#ffffff;
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding: 30px 72px 83px 71px;
    margin-bottom: 44px;
}
.inner-header-title {
    font-size: 60px;
    line-height: 78px;
    margin: 0;
    margin-bottom: 5px;

}
.catalog-filter{
    display: flex;
}
.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
}
.breadcrumbs-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

.catalog-filter-title{
    font-size: 18px;
    line-height: 23px;
}
.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.control {
    font-weight: 400;
}
.hotels-founded {
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
    margin: 0;
    margin-right: 192px;
}
.select-sorting {
    font-weight: 400;
    color:#333333;
}
.catalog-hotels{
  width: 1056px;
  margin:0 auto;
}
.sorting-container {
  display: flex;
  align-items: baseline ;
  margin: 0 auto;
  width: 1056px;
  margin-bottom: 53px;
}
.hotels-list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  column-gap: 18px;
  row-gap: 10px;
}
.hotels-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.hotel-card-image-link {
  margin-bottom: 16px;
}
.hotel-card-link{
    text-decoration: none;
    color: #000000;
    flex-grow: 1;
    margin-bottom: 16px;
}
.info-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.buttons-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.hotel-card-title{
    font-size: 24px;
    line-height: 31px;
    margin: 0;
}
.hotel-card-type {
    color:#333333;
    font-weight: 400;
    margin: 0;
}
.hotel-card-price {
    color:#333333;
    font-weight: 400;
    margin: 0;
}
.rating{
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    background-color: #F2F2F2;
    width: 160px;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 10px;
}
.show-more-container{
  width: 1056px;
  margin: auto;
  margin-bottom: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;

}
.button-show-more {
  margin: 0 auto;
  width: 620px;
  padding-top:17px;
  padding-bottom: 17px;
}
.pagination-container{
    display: flex;
    width:1056px;
    margin: 0 auto;
    justify-content: space-between;
}
.pagination {
    display: flex;
    list-style: none;
    margin:0px;
    padding:0px;
}

.pagination-link {
  display: block;
    box-sizing: border-box;
    width: 55px;
    height: 55px;
    text-decoration: none;
    color:#ffffff;
    background-color: #83B3D3;
    border-radius: 4px;
    padding: 5px; /*не пойму почему не работает*/

}
.pagination-item:not(:last-child) {
  margin-right: 8px;
}
.pagination-current {
    color:#000000;
    background-color: #F2F2F2;
}
.select-lable {
    font-weight: 400;
    margin:0px;
}
.select-number-display {
    font-weight: 400;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
